<%= form_for [@expert, @mastery] do |f| %>
  <% if @mastery.errors.any? %>
    <ul>
      <% @mastery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= label_tag 'services', 'In which service area is your skill?' %>
  <%= select_tag 'services', options_from_collection_for_select(@services, 'id', 'name') %>

  <%= f.label :skill_id, 'Please select your skill' %>
  <%= f.select :skill_id, options_from_collection_for_select(@skills, 'id', 'name') %>

  <%= f.label :description, 'Please briefly describe your proficiency in the chosen skill (250 characters max)' %>
  <%= f.text_area :description %>

  <%= f.submit 'Add skill' %>
<% end %>
