<h1>Expert profile for <%= full_name_for(@expert) %>

<p>First name: <%= @expert.first_name %></p>
<p>Last name: <%= @expert.last_name %></p>

<p>Skills:
<% if @expert.skills.present? %>
  <%= @expert.skills.pluck(:name).join(', ') %>
<% end %>
</p>

<% if current_expert && current_expert == @expert %>
  <div>
    <%= link_to 'Add a skill', new_expert_mastery_path(@expert), class: 'button safe' %>
    <%= link_to 'Edit your name', edit_expert_path(@expert), class: 'button' %>
    <%= link_to 'Edit your password', edit_expert_registration_path, class: 'button' %>
    <%= link_to 'Delete your profile', @expert, method: :delete, confirm: { data: 'Certain?' }, class: 'button danger' %>
  </div>
<% end %>
