<h1>Expert profile for <%= full_name_for(@expert) %></h1>

<p>First name: <%= @expert.first_name %></p>
<p>Last name: <%= @expert.last_name %></p>

<table>
  <thead>
    <tr>
      <th>Skill</th>
      <th>Description of expertise</th>
    </tr>
  </thead>
  <tbody>
    <% @masteries.each do |mastery| %>
      <tr>
        <td><%= mastery.skill.name %></td>
        <td><%= mastery.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_expert && current_expert == @expert %>
  <div>
    <%= link_to 'Add a skill', new_expert_mastery_path(@expert), class: 'button safe' %>
    <%= link_to 'Edit your name', edit_expert_path(@expert), class: 'button' %>
    <%= link_to 'Edit your password', edit_expert_registration_path, class: 'button' %>
    <%= link_to 'Delete your profile', @expert, method: :delete, confirm: { data: 'Certain?' }, class: 'button danger' %>
  </div>
<% end %>
